* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: dana
}

body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}

.contains {
    border: 1px solid black;
    padding: 2%;
    width: 100%;
    display: flex;
    gap: 5%;
    overflow: hidden;

}
.content div{
    display: flex;  
    justify-content: space-between;
    gap: 5%;
}
.content{
    width: 20%;
    margin-top: 7%;
}

.middle{
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: center;
}

.middle .top_middle{
    display: flex;
    justify-content: space-between;
}
.middle h3{
    text-align: center;
    margin-top: 30px;
    margin-right: 50px;
}
.botton_middle{
    margin-top: 10px;
    width: 100%;
    direction: rtl;
    text-align: center;

}
.botton_middle div{
    display: flex;
    justify-content:space-between;
    width: 100%;
    
}
.middle .image_logo img{
    width: 17vh;
    height: 17vh;
}

.final_div{
    display: flex;
    flex-direction: column;
    height: 230px;
    transform: translateY(200px);
}
.final_div .timeOf{
    display: flex;
    justify-content: space-between;
}

.printBtn{
  text-align: left;
  width: 100%;
}

.btn-print{
  width: 20vh;
  padding: 1%;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  background-color: #038062;
}

.btn-print:hover{
  background-color: #046851;
}

@media print {
  * {
    box-shadow: none !important;
    background: none !important;
    color: black !important;
    margin: 0;
    padding: 0;
  }

  body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
  }

  .btn-print{
    display: none;
  }

  .contains {
    width: 100%;
    position: relative;
  }

  .middle h3{
    text-align: center;
    margin-top: 10px;
    font-size: 0.9rem;
}

  .final_div{
    display: flex;
    position: absolute;
    width: 20%;
    left: 1%;
    top: -22.5%;
}

.final_div p{
  font-size: 0.7rem;
}

  .content {
    width: 22.5%;
    margin-top: 10%;
  }

  .content p{
    font-size: 0.7rem;
  }

  .middle {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .middle .top_middle h2{
    font-size: 0.8rem;
  }

  .botton_middle{
    width: 100%;
  }

  .middle .image_logo img{
    width: 7vh;
    height: 7vh;
}


}

@media(max-width: 884px){

  body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
  }


  .contains {
    width: 100%;
    position: relative;
  }

  .middle h3{
    text-align: center;
    margin-top: 10px;
    font-size: 0.9rem;
}

  .final_div{
    display: flex;
    position: absolute;
    width: 20%;
    left: 1%;
    top: -22.5%;
}

.final_div p{
  font-size: 0.7rem;
}

  .content {
    width: 22.5%;
    margin-top: 10%;
  }

  .content p{
    font-size: 0.7rem;
  }

  .middle {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .middle .top_middle h2{
    font-size: 0.8rem;
  }

  .botton_middle{
    width: 100%;
  }

  .middle .image_logo img{
    width: 7vh;
    height: 7vh;
}

.qrcode1{
  width: 130px;
  height: 30px;
}

}


@media(max-width: 390px){
  body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
  }

  .contains {
    width: 100%;
    position: relative;
  }

  .middle h3{
    text-align: center;
    margin-top: 10px;
    font-size: 0.9rem;
}

  .final_div{
    display: flex;
    position: absolute;
    width: 20%;
    left: 1%;
    top: -22.5%;
}

.final_div p{
  font-size: 0.7rem;
}

  .content {
    width: 22.5%;
    margin-top: 10%;
  }

  .content p{
    font-size: 0.7rem;
  }

  .middle {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .middle .top_middle h2{
    font-size: 0.8rem;
  }

  .botton_middle{
    width: 100%;
  }

  .middle .image_logo img{
    width: 7vh;
    height: 7vh;
}
}
